--
-- PostgreSQL database dump
--

\restrict 5ZQsTE7udt88OBchZpppsjXl9zP9i8sW3fVcpnitsY4rllnlOwBzG001I01V3eo

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: hash_user_password(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.hash_user_password() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$

BEGIN

  -- Only hash if password is not null and not already hashed (bcrypt hashes start with $2b$)

  IF NEW.password IS NOT NULL AND NOT (NEW.password LIKE '$2b$%') THEN

    -- Use pgcrypto's crypt function with bcrypt

    NEW.password := crypt(NEW.password, gen_salt('bf', 12));

  END IF;

  

  RETURN NEW;

END;

$_$;


ALTER FUNCTION public.hash_user_password() OWNER TO postgres;

--
-- Name: FUNCTION hash_user_password(); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.hash_user_password() IS 'Automatically hashes plaintext passwords using bcrypt when users are inserted or updated';


--
-- Name: trigger_set_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_set_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.updated_at = NOW();

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.trigger_set_timestamp() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN NEW.updated_at = now(); RETURN NEW; END; $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accommodation_bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_bookings (
    id text DEFAULT gen_random_uuid() NOT NULL,
    staff_house_id text NOT NULL,
    room_id text NOT NULL,
    staff_id text,
    date date NOT NULL,
    trf_id text,
    status text DEFAULT 'Confirmed'::text,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT accommodation_bookings_status_check CHECK ((status = ANY (ARRAY['Confirmed'::text, 'Checked-in'::text, 'Checked-out'::text, 'Cancelled'::text, 'Blocked'::text, 'Assigned'::text])))
);


ALTER TABLE public.accommodation_bookings OWNER TO postgres;

--
-- Name: accommodation_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_requests (
    id text NOT NULL,
    requestor_name text NOT NULL,
    staff_id text,
    department text,
    "position" text,
    cost_center text,
    tel_email text,
    email text,
    status text NOT NULL,
    estimated_cost numeric,
    additional_comments text,
    submitted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    additional_data jsonb
);


ALTER TABLE public.accommodation_requests OWNER TO postgres;

--
-- Name: accommodation_rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_rooms (
    id text DEFAULT gen_random_uuid() NOT NULL,
    staff_house_id text NOT NULL,
    name text NOT NULL,
    room_type text,
    capacity integer DEFAULT 1,
    status text DEFAULT 'Available'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT accommodation_rooms_room_type_check CHECK ((room_type = ANY (ARRAY['Single'::text, 'Double'::text, 'Suite'::text, 'Tent'::text]))),
    CONSTRAINT accommodation_rooms_status_check CHECK ((status = ANY (ARRAY['Available'::text, 'Maintenance'::text, 'Reserved'::text])))
);


ALTER TABLE public.accommodation_rooms OWNER TO postgres;

--
-- Name: accommodation_staff_houses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accommodation_staff_houses (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    location text NOT NULL,
    address text,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT accommodation_staff_houses_location_check CHECK ((location = ANY (ARRAY['Ashgabat'::text, 'Kiyanly'::text, 'Turkmenbashy'::text])))
);


ALTER TABLE public.accommodation_staff_houses OWNER TO postgres;

--
-- Name: application_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_settings (
    id text DEFAULT gen_random_uuid() NOT NULL,
    setting_key text NOT NULL,
    setting_value text NOT NULL,
    setting_type text DEFAULT 'string'::text NOT NULL,
    description text,
    is_public boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.application_settings OWNER TO postgres;

--
-- Name: claims_approval_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.claims_approval_steps (
    id text DEFAULT gen_random_uuid() NOT NULL,
    claim_id text NOT NULL,
    step_role text NOT NULL,
    step_name text,
    status text DEFAULT 'Not Started'::text NOT NULL,
    step_date timestamp with time zone,
    comments text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.claims_approval_steps OWNER TO postgres;

--
-- Name: expense_claim_fx_rates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense_claim_fx_rates (
    id text DEFAULT gen_random_uuid() NOT NULL,
    claim_id text NOT NULL,
    fx_date date,
    type_of_currency text,
    selling_rate_tt_od numeric(10,4) DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.expense_claim_fx_rates OWNER TO postgres;

--
-- Name: expense_claim_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense_claim_items (
    id text DEFAULT gen_random_uuid() NOT NULL,
    claim_id text NOT NULL,
    item_date date,
    claim_or_travel_details text,
    official_mileage_km numeric(10,2),
    transport numeric(10,2),
    hotel_accommodation_allowance numeric(10,2),
    out_station_allowance_meal numeric(10,2),
    miscellaneous_allowance_10_percent numeric(10,2),
    other_expenses numeric(10,2) DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.expense_claim_items OWNER TO postgres;

--
-- Name: expense_claims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense_claims (
    id text DEFAULT gen_random_uuid() NOT NULL,
    document_type text NOT NULL,
    document_number text NOT NULL,
    claim_for_month_of date,
    staff_name text NOT NULL,
    staff_no text NOT NULL,
    gred text,
    staff_type text,
    executive_status text,
    department_code text,
    dept_cost_center_code text,
    location text,
    tel_ext text,
    start_time_from_home text,
    time_of_arrival_at_home text,
    bank_name text,
    account_number text,
    purpose_of_claim text,
    is_medical_claim boolean DEFAULT false,
    applicable_medical_type text,
    is_for_family boolean DEFAULT false,
    family_member_spouse boolean DEFAULT false,
    family_member_children boolean DEFAULT false,
    family_member_other text,
    total_advance_claim_amount numeric(10,2) DEFAULT 0,
    less_advance_taken numeric(10,2) DEFAULT 0,
    less_corporate_credit_card_payment numeric(10,2) DEFAULT 0,
    balance_claim_repayment numeric(10,2) DEFAULT 0,
    cheque_receipt_no text,
    i_declare boolean DEFAULT false,
    declaration_date date,
    status text DEFAULT 'Pending Verification'::text,
    trf_id text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    submitted_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    reimbursement_details jsonb,
    processing_started_at timestamp with time zone,
    reimbursement_completed_at timestamp with time zone,
    created_by text,
    updated_by text
);


ALTER TABLE public.expense_claims OWNER TO postgres;

--
-- Name: migration_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migration_log (
    id integer NOT NULL,
    migration_name character varying(255) NOT NULL,
    executed_at timestamp without time zone DEFAULT now(),
    description text
);


ALTER TABLE public.migration_log OWNER TO postgres;

--
-- Name: migration_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migration_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migration_log_id_seq OWNER TO postgres;

--
-- Name: migration_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migration_log_id_seq OWNED BY public.migration_log.id;


--
-- Name: notification_event_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_event_types (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    module text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notification_event_types OWNER TO postgres;

--
-- Name: TABLE notification_event_types; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.notification_event_types IS 'Defines all types of events that can trigger notifications';


--
-- Name: notification_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_templates (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    description text,
    event_type_id text,
    notification_type text DEFAULT 'email'::text,
    is_active boolean DEFAULT true,
    variables_available text[],
    recipient_type text DEFAULT 'approver'::text
);


ALTER TABLE public.notification_templates OWNER TO postgres;

--
-- Name: notification_user_subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_user_subscriptions (
    id text DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    event_type_id text NOT NULL,
    permission_required text,
    role_required text,
    department_filter text,
    is_enabled boolean DEFAULT true,
    notification_method text DEFAULT 'in_app'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notification_user_subscriptions OWNER TO postgres;

--
-- Name: TABLE notification_user_subscriptions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.notification_user_subscriptions IS 'Controls which users receive notifications for which events based on permissions/roles';


--
-- Name: COLUMN notification_user_subscriptions.permission_required; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_user_subscriptions.permission_required IS 'If set, user must have this permission to receive notifications for this event';


--
-- Name: COLUMN notification_user_subscriptions.role_required; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_user_subscriptions.role_required IS 'If set, user must have this role to receive notifications for this event';


--
-- Name: COLUMN notification_user_subscriptions.department_filter; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_user_subscriptions.department_filter IS 'If set, only users in this department receive notifications';


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_id text NOT NULL,
    permission_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: staff_guests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff_guests (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    gender text NOT NULL,
    department text,
    staff_id text,
    email text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT staff_guests_gender_check CHECK ((gender = ANY (ARRAY['Male'::text, 'Female'::text])))
);


ALTER TABLE public.staff_guests OWNER TO postgres;

--
-- Name: transport_approval_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transport_approval_steps (
    id text DEFAULT gen_random_uuid() NOT NULL,
    transport_request_id text NOT NULL,
    role text NOT NULL,
    name text NOT NULL,
    status text DEFAULT 'Not Started'::text NOT NULL,
    date timestamp with time zone,
    comments text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transport_approval_steps OWNER TO postgres;

--
-- Name: transport_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transport_details (
    id text DEFAULT gen_random_uuid() NOT NULL,
    transport_request_id text NOT NULL,
    date date,
    day text,
    from_location text NOT NULL,
    to_location text NOT NULL,
    departure_time text,
    arrival_time text,
    transport_type text NOT NULL,
    vehicle_type text NOT NULL,
    number_of_passengers integer DEFAULT 1,
    purpose text,
    remarks text,
    estimated_cost numeric(12,2) DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transport_details OWNER TO postgres;

--
-- Name: transport_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transport_requests (
    id text DEFAULT gen_random_uuid() NOT NULL,
    requestor_name text NOT NULL,
    staff_id text,
    department text,
    "position" text,
    cost_center text,
    tel_email text,
    email text,
    purpose text NOT NULL,
    status text DEFAULT 'Draft'::text NOT NULL,
    total_estimated_cost numeric(12,2) DEFAULT 0,
    tsr_reference text,
    additional_comments text,
    confirm_policy boolean DEFAULT false,
    confirm_manager_approval boolean DEFAULT false,
    confirm_terms_and_conditions boolean DEFAULT false,
    created_by text,
    updated_by text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    submitted_at timestamp with time zone DEFAULT now(),
    booking_details jsonb
);


ALTER TABLE public.transport_requests OWNER TO postgres;

--
-- Name: travel_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.travel_requests (
    id text DEFAULT gen_random_uuid() NOT NULL,
    requestor_name text NOT NULL,
    staff_id text,
    department text,
    "position" text,
    cost_center text,
    tel_email text,
    email text,
    travel_type text NOT NULL,
    status text DEFAULT 'Pending Department Focal'::text NOT NULL,
    purpose text,
    estimated_cost numeric(12,2) DEFAULT 0,
    additional_comments text,
    external_full_name text,
    external_organization text,
    external_ref_to_authority_letter text,
    external_cost_center text,
    submitted_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    additional_data jsonb
);


ALTER TABLE public.travel_requests OWNER TO postgres;

--
-- Name: trf_accommodation_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_accommodation_details (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    check_in_date date,
    check_out_date date,
    accommodation_type text,
    location text,
    address text,
    remarks text,
    created_at timestamp with time zone DEFAULT now(),
    place_of_stay text,
    estimated_cost_per_night numeric(10,2),
    check_in_time text,
    check_out_time text,
    other_type_description text
);


ALTER TABLE public.trf_accommodation_details OWNER TO postgres;

--
-- Name: trf_accommodation_details_backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_accommodation_details_backup (
    id text,
    trf_id text,
    check_in_date date,
    check_out_date date,
    accommodation_type text,
    location text,
    from_date date,
    to_date date,
    from_location text,
    to_location text,
    bt_no_required text,
    accommodation_type_n text,
    address text,
    remarks text,
    created_at timestamp with time zone,
    place_of_stay text,
    estimated_cost_per_night numeric(10,2),
    check_in_time text,
    check_out_time text,
    other_type_description text
);


ALTER TABLE public.trf_accommodation_details_backup OWNER TO postgres;

--
-- Name: trf_advance_amount_requested_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_advance_amount_requested_items (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    date_from date,
    date_to date,
    lh numeric(12,2) DEFAULT 0,
    ma numeric(12,2) DEFAULT 0,
    oa numeric(12,2) DEFAULT 0,
    tr numeric(12,2) DEFAULT 0,
    oe numeric(12,2) DEFAULT 0,
    usd numeric(12,2) DEFAULT 0,
    remarks text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_advance_amount_requested_items OWNER TO postgres;

--
-- Name: trf_advance_bank_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_advance_bank_details (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    bank_name text,
    account_number text,
    account_name text,
    swift_code text,
    iban text,
    branch_address text,
    currency text,
    amount numeric(12,2),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_advance_bank_details OWNER TO postgres;

--
-- Name: trf_approval_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_approval_steps (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    step_role text NOT NULL,
    step_name text,
    status text NOT NULL,
    step_date timestamp with time zone,
    comments text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_approval_steps OWNER TO postgres;

--
-- Name: trf_company_transport_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_company_transport_details (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    transport_date date,
    day_of_week text,
    from_location text,
    to_location text,
    bt_no_required text,
    accommodation_type_n text,
    address text,
    remarks text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_company_transport_details OWNER TO postgres;

--
-- Name: trf_daily_meal_selections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_daily_meal_selections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    meal_date date NOT NULL,
    breakfast boolean DEFAULT false,
    lunch boolean DEFAULT false,
    dinner boolean DEFAULT false,
    supper boolean DEFAULT false,
    refreshment boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_daily_meal_selections OWNER TO postgres;

--
-- Name: trf_flight_bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_flight_bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trf_id character varying(50) NOT NULL,
    flight_number character varying(20) NOT NULL,
    flight_class character varying(20) NOT NULL,
    departure_location character varying(100) NOT NULL,
    arrival_location character varying(100) NOT NULL,
    departure_date date NOT NULL,
    arrival_date date NOT NULL,
    departure_time time without time zone NOT NULL,
    arrival_time time without time zone NOT NULL,
    departure_datetime timestamp with time zone GENERATED ALWAYS AS (((departure_date + departure_time) AT TIME ZONE 'UTC'::text)) STORED,
    arrival_datetime timestamp with time zone GENERATED ALWAYS AS (((arrival_date + arrival_time) AT TIME ZONE 'UTC'::text)) STORED,
    booking_reference character varying(50),
    status character varying(20) DEFAULT 'Pending'::character varying NOT NULL,
    remarks text,
    created_by character varying(100) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    airline character varying(100),
    CONSTRAINT chk_valid_flight_times CHECK (((departure_datetime < arrival_datetime) AND (departure_date <= arrival_date)))
);


ALTER TABLE public.trf_flight_bookings OWNER TO postgres;

--
-- Name: TABLE trf_flight_bookings; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.trf_flight_bookings IS 'Stores booked flight information associated with travel requests';


--
-- Name: COLUMN trf_flight_bookings.trf_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trf_flight_bookings.trf_id IS 'References travel_requests.id';


--
-- Name: COLUMN trf_flight_bookings.departure_datetime; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trf_flight_bookings.departure_datetime IS 'Generated from departure_date + departure_time in UTC';


--
-- Name: COLUMN trf_flight_bookings.arrival_datetime; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trf_flight_bookings.arrival_datetime IS 'Generated from arrival_date + arrival_time in UTC';


--
-- Name: COLUMN trf_flight_bookings.airline; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trf_flight_bookings.airline IS 'Airline name (e.g., Malaysia Airlines, AirAsia)';


--
-- Name: trf_itinerary_segments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_itinerary_segments (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    segment_date date,
    day_of_week text,
    from_location text,
    to_location text,
    departure_time text,
    arrival_time text,
    purpose text,
    created_at timestamp with time zone DEFAULT now(),
    flight_number text,
    flight_class text,
    remarks text
);


ALTER TABLE public.trf_itinerary_segments OWNER TO postgres;

--
-- Name: trf_meal_provisions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_meal_provisions (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    date_from_to text,
    breakfast integer DEFAULT 0,
    lunch integer DEFAULT 0,
    dinner integer DEFAULT 0,
    supper integer DEFAULT 0,
    refreshment integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.trf_meal_provisions OWNER TO postgres;

--
-- Name: trf_passport_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trf_passport_details (
    id text DEFAULT gen_random_uuid() NOT NULL,
    trf_id text NOT NULL,
    full_name text,
    passport_number text,
    nationality text,
    date_of_birth date,
    place_of_birth text,
    passport_issue_date date,
    passport_expiry_date date,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trf_passport_details OWNER TO postgres;

--
-- Name: user_notification_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_notification_preferences (
    id text DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    email_enabled boolean DEFAULT true,
    inapp_enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_notification_preferences OWNER TO postgres;

--
-- Name: user_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_notifications (
    id text DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    priority text DEFAULT 'normal'::text NOT NULL,
    related_entity_type text,
    related_entity_id text,
    action_required boolean DEFAULT false,
    action_url text,
    is_read boolean DEFAULT false,
    is_dismissed boolean DEFAULT false,
    read_at timestamp with time zone,
    dismissed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone
);


ALTER TABLE public.user_notifications OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    role_id text,
    role text,
    department text,
    staff_id text,
    status text DEFAULT 'Active'::text NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    password text,
    gender character varying(10),
    profile_photo text,
    phone text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: visa_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visa_applications (
    id text NOT NULL,
    user_id text,
    requestor_name text NOT NULL,
    staff_id text,
    department text,
    "position" text,
    email text,
    destination text NOT NULL,
    travel_purpose text NOT NULL,
    visa_type text NOT NULL,
    trip_start_date date,
    trip_end_date date,
    passport_number text,
    passport_expiry_date date,
    status text DEFAULT 'Pending Department Focal'::text NOT NULL,
    additional_comments text,
    submitted_date timestamp with time zone DEFAULT now(),
    last_updated_date timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    trf_reference_number text,
    processing_details jsonb,
    processing_started_at timestamp with time zone,
    processing_completed_at timestamp with time zone,
    date_of_birth date,
    place_of_birth text,
    citizenship text,
    passport_place_of_issuance text,
    passport_date_of_issuance date,
    contact_telephone text,
    home_address text,
    education_details text,
    current_employer_name text,
    current_employer_address text,
    marital_status text,
    family_information text,
    request_type text DEFAULT 'VISA'::text,
    approximately_arrival_date date,
    duration_of_stay text,
    visa_entry_type text,
    work_visit_category text,
    application_fees_borne_by text,
    cost_centre_number text,
    line_focal_person text,
    line_focal_dept text,
    line_focal_contact text,
    line_focal_date date,
    sponsoring_dept_head text,
    sponsoring_dept_head_dept text,
    sponsoring_dept_head_contact text,
    sponsoring_dept_head_date date,
    ceo_approval_name text,
    ceo_approval_date date,
    itinerary_details text,
    supporting_documents_notes text
);


ALTER TABLE public.visa_applications OWNER TO postgres;

--
-- Name: TABLE visa_applications; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.visa_applications IS 'Updated to match LOI Request Form fields - contains all fields from official PC(T)SB LOI Request Form';


--
-- Name: COLUMN visa_applications.itinerary_details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.visa_applications.itinerary_details IS 'Enhanced LOI field: itinerary details';


--
-- Name: COLUMN visa_applications.supporting_documents_notes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.visa_applications.supporting_documents_notes IS 'Enhanced LOI field: supporting documents notes';


--
-- Name: visa_approval_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visa_approval_steps (
    id integer NOT NULL,
    visa_id text NOT NULL,
    step_role text NOT NULL,
    step_name text NOT NULL,
    status text NOT NULL,
    step_date timestamp with time zone DEFAULT now(),
    comments text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.visa_approval_steps OWNER TO postgres;

--
-- Name: visa_approval_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.visa_approval_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visa_approval_steps_id_seq OWNER TO postgres;

--
-- Name: visa_approval_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.visa_approval_steps_id_seq OWNED BY public.visa_approval_steps.id;


--
-- Name: visa_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visa_documents (
    id integer NOT NULL,
    visa_id text NOT NULL,
    document_name text NOT NULL,
    document_path text NOT NULL,
    document_type text,
    uploaded_at timestamp with time zone DEFAULT now(),
    uploaded_by text
);


ALTER TABLE public.visa_documents OWNER TO postgres;

--
-- Name: visa_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.visa_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visa_documents_id_seq OWNER TO postgres;

--
-- Name: visa_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.visa_documents_id_seq OWNED BY public.visa_documents.id;


--
-- Name: workflow_instances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_instances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    workflow_template_id uuid NOT NULL,
    entity_id text NOT NULL,
    entity_type character varying(50) NOT NULL,
    current_step_id uuid,
    status character varying(50) DEFAULT 'pending'::character varying,
    initiated_by uuid,
    initiated_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.workflow_instances OWNER TO postgres;

--
-- Name: workflow_step_executions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_step_executions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    workflow_instance_id uuid NOT NULL,
    workflow_step_id uuid NOT NULL,
    assigned_to_role character varying(100) NOT NULL,
    assigned_to_user uuid,
    status character varying(50) DEFAULT 'pending'::character varying,
    action_taken_by uuid,
    action_taken_at timestamp with time zone,
    comments text,
    attachments jsonb,
    escalated_from uuid,
    due_date timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.workflow_step_executions OWNER TO postgres;

--
-- Name: workflow_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_steps (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    workflow_template_id uuid NOT NULL,
    step_number integer NOT NULL,
    step_name character varying(100) NOT NULL,
    required_role character varying(100) NOT NULL,
    description text,
    is_mandatory boolean DEFAULT true,
    can_delegate boolean DEFAULT false,
    timeout_days integer,
    escalation_role character varying(100),
    conditions jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.workflow_steps OWNER TO postgres;

--
-- Name: workflow_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    module character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.workflow_templates OWNER TO postgres;

--
-- Name: migration_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migration_log ALTER COLUMN id SET DEFAULT nextval('public.migration_log_id_seq'::regclass);


--
-- Name: visa_approval_steps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_approval_steps ALTER COLUMN id SET DEFAULT nextval('public.visa_approval_steps_id_seq'::regclass);


--
-- Name: visa_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_documents ALTER COLUMN id SET DEFAULT nextval('public.visa_documents_id_seq'::regclass);


--
-- Data for Name: accommodation_bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accommodation_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accommodation_rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accommodation_staff_houses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: application_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: claims_approval_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expense_claim_fx_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expense_claim_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expense_claims; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: migration_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.migration_log (id, migration_name, executed_at, description) FROM stdin;
1	add_missing_loi_fields_20250917	2025-09-18 01:10:52.605121	Added missing LOI fields: itinerary_details and supporting_documents_notes
\.


--
-- Data for Name: notification_event_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notification_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notification_user_subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: staff_guests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transport_approval_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transport_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transport_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: travel_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_accommodation_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_accommodation_details_backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_advance_amount_requested_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_advance_bank_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_approval_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_company_transport_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_daily_meal_selections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_flight_bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_itinerary_segments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_meal_provisions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trf_passport_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trf_passport_details (id, trf_id, full_name, passport_number, nationality, date_of_birth, place_of_birth, passport_issue_date, passport_expiry_date, created_at) FROM stdin;
\.


--
-- Data for Name: user_notification_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_notification_preferences (id, user_id, email_enabled, inapp_enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: visa_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: visa_approval_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: visa_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.visa_documents (id, visa_id, document_name, document_path, document_type, uploaded_at, uploaded_by) FROM stdin;
1	VIS-20250911-1628-UNITE-3XN3	1000_zadach_po_programmirovaniyu._CHast_I._Skalyar_805492_(z-lib.org).pdf	C:\\Users\\Arslan\\Desktop\\pctsb.syntra\\uploads\\visa-documents\\VIS-20250911-1628-UNITE-3XN3_passport_copy_2025-09-11T11-28-32-342Z.pdf	passport_copy	2025-09-11 16:28:32.348345+05	\N
\.


--
-- Data for Name: workflow_instances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workflow_instances (id, workflow_template_id, entity_id, entity_type, current_step_id, status, initiated_by, initiated_at, completed_at, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: workflow_step_executions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workflow_step_executions (id, workflow_instance_id, workflow_step_id, assigned_to_role, assigned_to_user, status, action_taken_by, action_taken_at, comments, attachments, escalated_from, due_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: workflow_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: migration_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migration_log_id_seq', 1, true);


--
-- Name: visa_approval_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.visa_approval_steps_id_seq', 80, true);


--
-- Name: visa_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.visa_documents_id_seq', 1, true);


--
-- Name: accommodation_bookings accommodation_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_bookings
    ADD CONSTRAINT accommodation_bookings_pkey PRIMARY KEY (id);


--
-- Name: accommodation_requests accommodation_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_requests
    ADD CONSTRAINT accommodation_requests_pkey PRIMARY KEY (id);


--
-- Name: accommodation_rooms accommodation_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_rooms
    ADD CONSTRAINT accommodation_rooms_pkey PRIMARY KEY (id);


--
-- Name: accommodation_staff_houses accommodation_staff_houses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_staff_houses
    ADD CONSTRAINT accommodation_staff_houses_pkey PRIMARY KEY (id);


--
-- Name: application_settings application_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_settings
    ADD CONSTRAINT application_settings_pkey PRIMARY KEY (id);


--
-- Name: application_settings application_settings_setting_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_settings
    ADD CONSTRAINT application_settings_setting_key_key UNIQUE (setting_key);


--
-- Name: claims_approval_steps claims_approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims_approval_steps
    ADD CONSTRAINT claims_approval_steps_pkey PRIMARY KEY (id);


--
-- Name: expense_claim_fx_rates expense_claim_fx_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_claim_fx_rates
    ADD CONSTRAINT expense_claim_fx_rates_pkey PRIMARY KEY (id);


--
-- Name: expense_claim_items expense_claim_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_claim_items
    ADD CONSTRAINT expense_claim_items_pkey PRIMARY KEY (id);


--
-- Name: expense_claims expense_claims_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_claims
    ADD CONSTRAINT expense_claims_pkey PRIMARY KEY (id);


--
-- Name: migration_log migration_log_migration_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migration_log
    ADD CONSTRAINT migration_log_migration_name_key UNIQUE (migration_name);


--
-- Name: migration_log migration_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migration_log
    ADD CONSTRAINT migration_log_pkey PRIMARY KEY (id);


--
-- Name: notification_event_types notification_event_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_event_types
    ADD CONSTRAINT notification_event_types_name_key UNIQUE (name);


--
-- Name: notification_event_types notification_event_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_event_types
    ADD CONSTRAINT notification_event_types_pkey PRIMARY KEY (id);


--
-- Name: notification_templates notification_templates_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_templates
    ADD CONSTRAINT notification_templates_name_key UNIQUE (name);


--
-- Name: notification_templates notification_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_templates
    ADD CONSTRAINT notification_templates_pkey PRIMARY KEY (id);


--
-- Name: notification_user_subscriptions notification_user_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_user_subscriptions
    ADD CONSTRAINT notification_user_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: notification_user_subscriptions notification_user_subscriptions_user_id_event_type_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_user_subscriptions
    ADD CONSTRAINT notification_user_subscriptions_user_id_event_type_id_key UNIQUE (user_id, event_type_id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: staff_guests staff_guests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff_guests
    ADD CONSTRAINT staff_guests_pkey PRIMARY KEY (id);


--
-- Name: transport_approval_steps transport_approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transport_approval_steps
    ADD CONSTRAINT transport_approval_steps_pkey PRIMARY KEY (id);


--
-- Name: transport_details transport_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transport_details
    ADD CONSTRAINT transport_details_pkey PRIMARY KEY (id);


--
-- Name: transport_requests transport_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transport_requests
    ADD CONSTRAINT transport_requests_pkey PRIMARY KEY (id);


--
-- Name: travel_requests travel_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_requests
    ADD CONSTRAINT travel_requests_pkey PRIMARY KEY (id);


--
-- Name: trf_accommodation_details trf_accommodation_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_accommodation_details
    ADD CONSTRAINT trf_accommodation_details_pkey PRIMARY KEY (id);


--
-- Name: trf_advance_amount_requested_items trf_advance_amount_requested_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_advance_amount_requested_items
    ADD CONSTRAINT trf_advance_amount_requested_items_pkey PRIMARY KEY (id);


--
-- Name: trf_advance_bank_details trf_advance_bank_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_advance_bank_details
    ADD CONSTRAINT trf_advance_bank_details_pkey PRIMARY KEY (id);


--
-- Name: trf_advance_bank_details trf_advance_bank_details_trf_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_advance_bank_details
    ADD CONSTRAINT trf_advance_bank_details_trf_id_key UNIQUE (trf_id);


--
-- Name: trf_approval_steps trf_approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_approval_steps
    ADD CONSTRAINT trf_approval_steps_pkey PRIMARY KEY (id);


--
-- Name: trf_company_transport_details trf_company_transport_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_company_transport_details
    ADD CONSTRAINT trf_company_transport_details_pkey PRIMARY KEY (id);


--
-- Name: trf_daily_meal_selections trf_daily_meal_selections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_daily_meal_selections
    ADD CONSTRAINT trf_daily_meal_selections_pkey PRIMARY KEY (id);


--
-- Name: trf_daily_meal_selections trf_daily_meal_selections_trf_id_meal_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_daily_meal_selections
    ADD CONSTRAINT trf_daily_meal_selections_trf_id_meal_date_key UNIQUE (trf_id, meal_date);


--
-- Name: trf_flight_bookings trf_flight_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_flight_bookings
    ADD CONSTRAINT trf_flight_bookings_pkey PRIMARY KEY (id);


--
-- Name: trf_itinerary_segments trf_itinerary_segments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_itinerary_segments
    ADD CONSTRAINT trf_itinerary_segments_pkey PRIMARY KEY (id);


--
-- Name: trf_meal_provisions trf_meal_provisions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_meal_provisions
    ADD CONSTRAINT trf_meal_provisions_pkey PRIMARY KEY (id);


--
-- Name: trf_passport_details trf_passport_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_passport_details
    ADD CONSTRAINT trf_passport_details_pkey PRIMARY KEY (id);


--
-- Name: accommodation_bookings unique_room_date; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_bookings
    ADD CONSTRAINT unique_room_date UNIQUE (room_id, date);


--
-- Name: user_notification_preferences user_notification_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_notification_preferences
    ADD CONSTRAINT user_notification_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_notification_preferences user_notification_preferences_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_notification_preferences
    ADD CONSTRAINT user_notification_preferences_user_id_key UNIQUE (user_id);


--
-- Name: user_notifications user_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_notifications
    ADD CONSTRAINT user_notifications_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_staff_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_staff_id_key UNIQUE (staff_id);


--
-- Name: visa_applications visa_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_applications
    ADD CONSTRAINT visa_applications_pkey PRIMARY KEY (id);


--
-- Name: visa_approval_steps visa_approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_approval_steps
    ADD CONSTRAINT visa_approval_steps_pkey PRIMARY KEY (id);


--
-- Name: visa_approval_steps visa_approval_steps_visa_id_step_role_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_approval_steps
    ADD CONSTRAINT visa_approval_steps_visa_id_step_role_key UNIQUE (visa_id, step_role);


--
-- Name: visa_documents visa_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_documents
    ADD CONSTRAINT visa_documents_pkey PRIMARY KEY (id);


--
-- Name: workflow_instances workflow_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_instances
    ADD CONSTRAINT workflow_instances_pkey PRIMARY KEY (id);


--
-- Name: workflow_step_executions workflow_step_executions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT workflow_step_executions_pkey PRIMARY KEY (id);


--
-- Name: workflow_steps workflow_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_pkey PRIMARY KEY (id);


--
-- Name: workflow_steps workflow_steps_workflow_template_id_step_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_workflow_template_id_step_number_key UNIQUE (workflow_template_id, step_number);


--
-- Name: workflow_templates workflow_templates_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_templates
    ADD CONSTRAINT workflow_templates_name_key UNIQUE (name);


--
-- Name: workflow_templates workflow_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_templates
    ADD CONSTRAINT workflow_templates_pkey PRIMARY KEY (id);


--
-- Name: idx_accommodation_bookings_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_bookings_date ON public.accommodation_bookings USING btree (date);


--
-- Name: idx_accommodation_bookings_date_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_bookings_date_status ON public.accommodation_bookings USING btree (date, status);


--
-- Name: idx_accommodation_bookings_staff_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_bookings_staff_id ON public.accommodation_bookings USING btree (staff_id);


--
-- Name: idx_accommodation_bookings_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_bookings_status ON public.accommodation_bookings USING btree (status);


--
-- Name: idx_accommodation_bookings_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_bookings_trf_id ON public.accommodation_bookings USING btree (trf_id);


--
-- Name: idx_accommodation_rooms_staff_house_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accommodation_rooms_staff_house_id ON public.accommodation_rooms USING btree (staff_house_id);


--
-- Name: idx_application_settings_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_application_settings_key ON public.application_settings USING btree (setting_key);


--
-- Name: idx_application_settings_public; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_application_settings_public ON public.application_settings USING btree (is_public);


--
-- Name: idx_claims_approval_steps_claim_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claims_approval_steps_claim_id ON public.claims_approval_steps USING btree (claim_id);


--
-- Name: idx_expense_claim_fx_rates_claim_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claim_fx_rates_claim_id ON public.expense_claim_fx_rates USING btree (claim_id);


--
-- Name: idx_expense_claim_items_claim_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claim_items_claim_id ON public.expense_claim_items USING btree (claim_id);


--
-- Name: idx_expense_claims_reimbursement_details; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claims_reimbursement_details ON public.expense_claims USING gin (reimbursement_details);


--
-- Name: idx_expense_claims_staff_no; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claims_staff_no ON public.expense_claims USING btree (staff_no);


--
-- Name: idx_expense_claims_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claims_status ON public.expense_claims USING btree (status);


--
-- Name: idx_expense_claims_status_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_claims_status_created_at ON public.expense_claims USING btree (status, created_at DESC);


--
-- Name: idx_notification_event_types_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_event_types_category ON public.notification_event_types USING btree (category);


--
-- Name: idx_notification_event_types_module; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_event_types_module ON public.notification_event_types USING btree (module);


--
-- Name: idx_notification_templates_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_templates_event_type ON public.notification_templates USING btree (event_type_id);


--
-- Name: idx_notification_templates_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_templates_is_active ON public.notification_templates USING btree (is_active);


--
-- Name: idx_notification_templates_notification_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_templates_notification_type ON public.notification_templates USING btree (notification_type);


--
-- Name: idx_notification_templates_recipient_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_templates_recipient_type ON public.notification_templates USING btree (recipient_type);


--
-- Name: idx_notification_user_subscriptions_event_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_user_subscriptions_event_type ON public.notification_user_subscriptions USING btree (event_type_id);


--
-- Name: idx_notification_user_subscriptions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notification_user_subscriptions_user_id ON public.notification_user_subscriptions USING btree (user_id);


--
-- Name: idx_transport_approval_steps_request_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_approval_steps_request_id ON public.transport_approval_steps USING btree (transport_request_id);


--
-- Name: idx_transport_details_request_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_details_request_id ON public.transport_details USING btree (transport_request_id);


--
-- Name: idx_transport_requests_booking_details; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_requests_booking_details ON public.transport_requests USING gin (booking_details);


--
-- Name: idx_transport_requests_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_requests_created_by ON public.transport_requests USING btree (created_by);


--
-- Name: idx_transport_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_requests_status ON public.transport_requests USING btree (status);


--
-- Name: idx_transport_requests_tsr_reference; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transport_requests_tsr_reference ON public.transport_requests USING btree (tsr_reference);


--
-- Name: idx_travel_requests_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_travel_requests_created_at ON public.travel_requests USING btree (created_at);


--
-- Name: idx_travel_requests_status_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_travel_requests_status_type ON public.travel_requests USING btree (status, travel_type);


--
-- Name: idx_travel_requests_type_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_travel_requests_type_status ON public.travel_requests USING btree (travel_type, status);


--
-- Name: idx_trf_accommodation_details_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_accommodation_details_location ON public.trf_accommodation_details USING btree (location);


--
-- Name: idx_trf_accommodation_details_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_accommodation_details_trf_id ON public.trf_accommodation_details USING btree (trf_id);


--
-- Name: idx_trf_daily_meals_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_daily_meals_date ON public.trf_daily_meal_selections USING btree (meal_date);


--
-- Name: idx_trf_daily_meals_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_daily_meals_trf_id ON public.trf_daily_meal_selections USING btree (trf_id);


--
-- Name: idx_trf_flight_bookings_airline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_flight_bookings_airline ON public.trf_flight_bookings USING btree (airline);


--
-- Name: idx_trf_flight_bookings_dep_arr; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_flight_bookings_dep_arr ON public.trf_flight_bookings USING btree (departure_datetime, arrival_datetime);


--
-- Name: idx_trf_flight_bookings_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_flight_bookings_status ON public.trf_flight_bookings USING btree (status);


--
-- Name: idx_trf_flight_bookings_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_flight_bookings_trf_id ON public.trf_flight_bookings USING btree (trf_id);


--
-- Name: idx_trf_itinerary_segments_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_itinerary_segments_trf_id ON public.trf_itinerary_segments USING btree (trf_id);


--
-- Name: idx_trf_meal_provisions_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_meal_provisions_trf_id ON public.trf_meal_provisions USING btree (trf_id);


--
-- Name: idx_trf_passport_details_trf_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trf_passport_details_trf_id ON public.trf_passport_details USING btree (trf_id);


--
-- Name: idx_user_notifications_unread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_notifications_unread ON public.user_notifications USING btree (user_id, is_read) WHERE (is_read = false);


--
-- Name: idx_user_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_notifications_user_id ON public.user_notifications USING btree (user_id);


--
-- Name: idx_users_staff_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_staff_id ON public.users USING btree (staff_id);


--
-- Name: idx_visa_applications_citizenship; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_citizenship ON public.visa_applications USING btree (citizenship);


--
-- Name: idx_visa_applications_request_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_request_type ON public.visa_applications USING btree (request_type);


--
-- Name: idx_visa_applications_requestor_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_requestor_name ON public.visa_applications USING btree (requestor_name);


--
-- Name: idx_visa_applications_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_status ON public.visa_applications USING btree (status);


--
-- Name: idx_visa_applications_submitted_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_submitted_date ON public.visa_applications USING btree (submitted_date);


--
-- Name: idx_visa_applications_work_visit_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_applications_work_visit_category ON public.visa_applications USING btree (work_visit_category);


--
-- Name: idx_visa_approval_steps_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_approval_steps_status ON public.visa_approval_steps USING btree (status);


--
-- Name: idx_visa_approval_steps_visa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_approval_steps_visa_id ON public.visa_approval_steps USING btree (visa_id);


--
-- Name: idx_visa_documents_visa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_visa_documents_visa_id ON public.visa_documents USING btree (visa_id);


--
-- Name: idx_workflow_instances_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_instances_entity ON public.workflow_instances USING btree (entity_id, entity_type);


--
-- Name: idx_workflow_instances_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_instances_status ON public.workflow_instances USING btree (status);


--
-- Name: idx_workflow_instances_workflow_template_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_instances_workflow_template_id ON public.workflow_instances USING btree (workflow_template_id);


--
-- Name: idx_workflow_step_executions_escalated_from; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_step_executions_escalated_from ON public.workflow_step_executions USING btree (escalated_from);


--
-- Name: idx_workflow_step_executions_instance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_step_executions_instance ON public.workflow_step_executions USING btree (workflow_instance_id);


--
-- Name: idx_workflow_step_executions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_step_executions_status ON public.workflow_step_executions USING btree (status);


--
-- Name: idx_workflow_step_executions_workflow_step_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_workflow_step_executions_workflow_step_id ON public.workflow_step_executions USING btree (workflow_step_id);


--
-- Name: trf_company_transport_details_trf_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trf_company_transport_details_trf_id_idx ON public.trf_company_transport_details USING btree (trf_id);


--
-- Name: users hash_password_on_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER hash_password_on_insert BEFORE INSERT ON public.users FOR EACH ROW EXECUTE FUNCTION public.hash_user_password();


--
-- Name: users hash_password_on_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER hash_password_on_update BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.hash_user_password();


--
-- Name: accommodation_bookings set_timestamp_accommodation_bookings; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_accommodation_bookings BEFORE UPDATE ON public.accommodation_bookings FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: accommodation_rooms set_timestamp_accommodation_rooms; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_accommodation_rooms BEFORE UPDATE ON public.accommodation_rooms FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: accommodation_staff_houses set_timestamp_accommodation_staff_houses; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_accommodation_staff_houses BEFORE UPDATE ON public.accommodation_staff_houses FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: application_settings set_timestamp_application_settings; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_application_settings BEFORE UPDATE ON public.application_settings FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: claims_approval_steps set_timestamp_claims_approval_steps; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_claims_approval_steps BEFORE UPDATE ON public.claims_approval_steps FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: notification_templates set_timestamp_notification_templates; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_notification_templates BEFORE UPDATE ON public.notification_templates FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: permissions set_timestamp_permissions; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_permissions BEFORE UPDATE ON public.permissions FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: roles set_timestamp_roles; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_roles BEFORE UPDATE ON public.roles FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: staff_guests set_timestamp_staff_guests; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_staff_guests BEFORE UPDATE ON public.staff_guests FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: transport_approval_steps set_timestamp_transport_approval_steps; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_transport_approval_steps BEFORE UPDATE ON public.transport_approval_steps FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: transport_details set_timestamp_transport_details; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_transport_details BEFORE UPDATE ON public.transport_details FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: transport_requests set_timestamp_transport_requests; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_transport_requests BEFORE UPDATE ON public.transport_requests FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: travel_requests set_timestamp_travel_requests; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_travel_requests BEFORE UPDATE ON public.travel_requests FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: user_notifications set_timestamp_user_notifications; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_user_notifications BEFORE UPDATE ON public.user_notifications FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: users set_timestamp_users; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_timestamp_users BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.trigger_set_timestamp();


--
-- Name: trf_flight_bookings trg_trf_flight_bookings_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_trf_flight_bookings_updated_at BEFORE UPDATE ON public.trf_flight_bookings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: expense_claim_fx_rates update_expense_claim_fx_rates_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_expense_claim_fx_rates_updated_at BEFORE UPDATE ON public.expense_claim_fx_rates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: expense_claim_items update_expense_claim_items_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_expense_claim_items_updated_at BEFORE UPDATE ON public.expense_claim_items FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: expense_claims update_expense_claims_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_expense_claims_updated_at BEFORE UPDATE ON public.expense_claims FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: trf_meal_provisions update_trf_meal_provisions_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_trf_meal_provisions_updated_at BEFORE UPDATE ON public.trf_meal_provisions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: accommodation_bookings accommodation_bookings_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_bookings
    ADD CONSTRAINT accommodation_bookings_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.accommodation_rooms(id) ON DELETE CASCADE;


--
-- Name: accommodation_bookings accommodation_bookings_staff_house_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_bookings
    ADD CONSTRAINT accommodation_bookings_staff_house_id_fkey FOREIGN KEY (staff_house_id) REFERENCES public.accommodation_staff_houses(id) ON DELETE CASCADE;


--
-- Name: accommodation_bookings accommodation_bookings_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_bookings
    ADD CONSTRAINT accommodation_bookings_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE SET NULL;


--
-- Name: accommodation_rooms accommodation_rooms_staff_house_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accommodation_rooms
    ADD CONSTRAINT accommodation_rooms_staff_house_id_fkey FOREIGN KEY (staff_house_id) REFERENCES public.accommodation_staff_houses(id) ON DELETE CASCADE;


--
-- Name: claims_approval_steps claims_approval_steps_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims_approval_steps
    ADD CONSTRAINT claims_approval_steps_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.expense_claims(id) ON DELETE CASCADE;


--
-- Name: expense_claim_fx_rates expense_claim_fx_rates_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_claim_fx_rates
    ADD CONSTRAINT expense_claim_fx_rates_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.expense_claims(id) ON DELETE CASCADE;


--
-- Name: expense_claim_items expense_claim_items_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_claim_items
    ADD CONSTRAINT expense_claim_items_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.expense_claims(id) ON DELETE CASCADE;


--
-- Name: users fk_users_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notification_templates notification_templates_event_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_templates
    ADD CONSTRAINT notification_templates_event_type_id_fkey FOREIGN KEY (event_type_id) REFERENCES public.notification_event_types(id);


--
-- Name: notification_user_subscriptions notification_user_subscriptions_event_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_user_subscriptions
    ADD CONSTRAINT notification_user_subscriptions_event_type_id_fkey FOREIGN KEY (event_type_id) REFERENCES public.notification_event_types(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: transport_approval_steps transport_approval_steps_transport_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transport_approval_steps
    ADD CONSTRAINT transport_approval_steps_transport_request_id_fkey FOREIGN KEY (transport_request_id) REFERENCES public.transport_requests(id) ON DELETE CASCADE;


--
-- Name: transport_details transport_details_transport_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transport_details
    ADD CONSTRAINT transport_details_transport_request_id_fkey FOREIGN KEY (transport_request_id) REFERENCES public.transport_requests(id) ON DELETE CASCADE;


--
-- Name: trf_accommodation_details trf_accommodation_details_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_accommodation_details
    ADD CONSTRAINT trf_accommodation_details_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_advance_amount_requested_items trf_advance_amount_requested_items_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_advance_amount_requested_items
    ADD CONSTRAINT trf_advance_amount_requested_items_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_advance_bank_details trf_advance_bank_details_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_advance_bank_details
    ADD CONSTRAINT trf_advance_bank_details_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_approval_steps trf_approval_steps_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_approval_steps
    ADD CONSTRAINT trf_approval_steps_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_company_transport_details trf_company_transport_details_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_company_transport_details
    ADD CONSTRAINT trf_company_transport_details_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_daily_meal_selections trf_daily_meal_selections_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_daily_meal_selections
    ADD CONSTRAINT trf_daily_meal_selections_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_flight_bookings trf_flight_bookings_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_flight_bookings
    ADD CONSTRAINT trf_flight_bookings_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id);


--
-- Name: trf_itinerary_segments trf_itinerary_segments_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_itinerary_segments
    ADD CONSTRAINT trf_itinerary_segments_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_meal_provisions trf_meal_provisions_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_meal_provisions
    ADD CONSTRAINT trf_meal_provisions_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: trf_passport_details trf_passport_details_trf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trf_passport_details
    ADD CONSTRAINT trf_passport_details_trf_id_fkey FOREIGN KEY (trf_id) REFERENCES public.travel_requests(id) ON DELETE CASCADE;


--
-- Name: visa_approval_steps visa_approval_steps_visa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_approval_steps
    ADD CONSTRAINT visa_approval_steps_visa_id_fkey FOREIGN KEY (visa_id) REFERENCES public.visa_applications(id) ON DELETE CASCADE;


--
-- Name: visa_documents visa_documents_visa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visa_documents
    ADD CONSTRAINT visa_documents_visa_id_fkey FOREIGN KEY (visa_id) REFERENCES public.visa_applications(id) ON DELETE CASCADE;


--
-- Name: workflow_instances workflow_instances_current_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_instances
    ADD CONSTRAINT workflow_instances_current_step_id_fkey FOREIGN KEY (current_step_id) REFERENCES public.workflow_steps(id);


--
-- Name: workflow_instances workflow_instances_workflow_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_instances
    ADD CONSTRAINT workflow_instances_workflow_template_id_fkey FOREIGN KEY (workflow_template_id) REFERENCES public.workflow_templates(id);


--
-- Name: workflow_step_executions workflow_step_executions_escalated_from_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT workflow_step_executions_escalated_from_fkey FOREIGN KEY (escalated_from) REFERENCES public.workflow_step_executions(id);


--
-- Name: workflow_step_executions workflow_step_executions_workflow_instance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT workflow_step_executions_workflow_instance_id_fkey FOREIGN KEY (workflow_instance_id) REFERENCES public.workflow_instances(id) ON DELETE CASCADE;


--
-- Name: workflow_step_executions workflow_step_executions_workflow_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_step_executions
    ADD CONSTRAINT workflow_step_executions_workflow_step_id_fkey FOREIGN KEY (workflow_step_id) REFERENCES public.workflow_steps(id);


--
-- Name: workflow_steps workflow_steps_workflow_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_workflow_template_id_fkey FOREIGN KEY (workflow_template_id) REFERENCES public.workflow_templates(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 5ZQsTE7udt88OBchZpppsjXl9zP9i8sW3fVcpnitsY4rllnlOwBzG001I01V3eo

